/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.main-layout{
	-fx-alignment: center  ;
	-fx-background-color: #FFFFFF;
	-fx-border-color: #424242;
}

.app-title{
	-fx-text-fill: #BDBDBD;
}

.top{
	-fx-alignment: center ;	
	-fx-background-color: #FFFFFF;
}

.image-container{
	-fx-background-color: #FFFFFF;
	-fx-alignment: center;
	-fx-pref-height: 12.0cm ;
	-fx-pref-width: 15.0cm ;
	-fx-max-height: 12.0cm;
	-fx-min-height: 12.0cm;
	-fx-border-color: #0097a7;
	-fx-border-width: 0.1cm;
	-fx-border-radius: 0.2cm ;
	-fx-border-style: solid outside ;
}

.control-layout{
	-fx-alignment: top-center ;
	-fx-background-color: #0097a7;
	-fx-border-color: #0097a7;
	-fx-border-width: 0.1cm;
	-fx-border-radius: 0.2cm ;
	-fx-border-style: solid outside ;
}

.links-layout{
	-fx-background-color: #FFFFFF ;
	-fx-padding: 0.0cm 3.0cm 0.0cm 3.0cm ;
	-fx-pref-width: 25.0cm;
	-fx-max-width: 25.0cm;	
}

.control1{
	-fx-pref-height: 2.0cm ;
	-fx-pref-width: 5.5cm;
	-fx-background-color: #006978;
	-fx-alignment: center ;	
	-fx-border-color: #006978;
	-fx-border-width: 0.4cm ;
	-fx-border-radius: 0.4cm ;
	-fx-border-style: solid outside ;
}

.control2{
	-fx-pref-width: 5.5cm;
	-fx-background-color: #006978;
	-fx-alignment: center ;
	-fx-padding: 1.0cm ;
	-fx-pref-height: 4.0cm;
	-fx-border-color: #006978;
	-fx-border-width: 0.4cm ;
	-fx-border-radius: 0.4cm ;
	-fx-border-style: solid outside ;
}

.button1{
	-fx-background-color: #0097a7;
	-fx-border-radius: 0.3cm;
	-fx-border-color: #0097a7;
	-fx-border-style: solid outside ;
	-fx-border-width: 0.1cm;
	-fx-text-fill: white ;
}

.button2{
	-fx-background-color: #0097a7;
	-fx-border-radius: 0.3cm;
	-fx-border-color: #0097a7;
	-fx-border-style: solid outside ;
	-fx-border-width: 0.1cm;
	-fx-text-fill: white ;
	-fx-min-width: 3.0cm;
	-fx-pref-width: 4.0cm;
}

.button2:hover{
	-fx-background-color: #00acc1;
	-fx-border-radius: 0.3cm;
	-fx-border-color: #00acc1;
	-fx-border-style: solid outside ;
	-fx-border-width: 0.1cm;
	-fx-text-fill: white ;
	-fx-min-width: 3.0cm;
	-fx-pref-width: 4.0cm;
}

.button2:active{
	-fx-background-color: #00acc1;
	-fx-border-radius: 0.3cm;
	-fx-border-color: #00acc1;
	-fx-border-style: solid outside ;
	-fx-border-width: 0.1cm;
	-fx-text-fill: white ;
	-fx-min-width: 3.0cm;
	-fx-pref-width: 4.0cm;
}

.link:visited{
	-fx-text-fill: #7B1FA2;
}

.label{
	-fx-text-fill: #BDBDBD;
	-fx-font-size: 1.0cm ;
}